/* Master styles */
body{
    font-family: "Lora", sans-serif;
    margin: 0px;
    background-color: #f1f1f1;
}

.container {
    /* Want the container to use grid */
    display: grid;
    /* using the template columns for grid to put sections for tab */
    grid-template-columns: 1fr;
    padding-top: 30px;
}

/* nav styles */
.nav-wrapper{
    /* ignores the child classes with flex  */
    display: flex;
    /* it'll space by all open the space */
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;

}
/* look at the nav wrapper go to left side and then grab all divs  */
.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
/* want the nav link wrapper with a link */
.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
/* allows me to have a border when hovering over tab */
.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

/* hover over link */
.nav-link-wrapper a:hover{
    color: black;
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}

/* Portfolio Styles */

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Hide project label */
.mobile-one, .mobile-two, .mobile-three, .mobile-four, .mobile-five{
    visibility: hidden;
    clear: both;
    display: none;
}

/* for mobile devices */
@media only screen and (max-width: 600px) {
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr; 
  }
  .left-side, .right-side{
    font-size: 12px;
  } 
  body{
    max-width: 100%;
    overflow-x: hidden;
  }
  .nav-wrapper{
    /* it'll space by all open the space */
    padding: 12px;
  }
  .container{
    max-width: 100%;
    width: 100%;
    padding-bottom: 10px;
  }
  .one, .two, .three, .four, .five{
    visibility: hidden;
    clear: both;
    display: none;
  }
  .mobile-one, .mobile-two, .mobile-three, .mobile-four, .mobile-five{
    visibility:visible;
    clear: none;
    display:inline;
    text-shadow: 0px 1px 1px rgba(255,255,2555,0.75), 0px -1px 1px rgba(0,0,0,.75);
    color: #999;
    padding: 7px;
    text-transform:uppercase;
  }
  .mobile-space{
    padding-bottom: 10px;
  }
}

/* for tablets */
/* @media only screen and (max-width: 850px) {
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
  .container{
    max-width: 100%;
    width: 100%;
    padding-bottom: 10px;
  }
  body{
    max-width: 100%;
    overflow-x: hidden;
  }
} */

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
    opacity: 0%;
}

.logo-wrapper img:hover{
    width: 50%;
    margin-bottom: 20px;
    transition: 1s;
    opacity: 100%;
}
.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: white;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

/* about page styles */
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width: 100%;
}

.profile-content-wrapper{
    padding: 30px;
}

.profile-content-wrapper h1{
    color: lightseagreen;
}

/* Resume download button */

.resume-button-wrapper{
    display: block;
    text-align: center;
}

.button{
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
}

.cta-button {
    background-color: #000;
    color: #fff !important;
}
  
  .cta-button:hover {
    background-color: #777;
}


.project-label h1{
    padding-bottom: 10px;
    justify-items: center;
    padding-top: 20px;
    padding-left: 5px;
    font-size: 30px;
    text-shadow: 0px 1px 1px rgba(255,255,2555,0.75), 0px -1px 1px rgba(0,0,0,.75);
	text-transform:uppercase;
	color: #999;
}

.card{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card-body{
    background-color: #FEFFFF;
}

/* image-model */
.modal_image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: auto;
    width: auto;
  }
  
  .modal_image:hover {
    opacity: 0.4;
}
  
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 68%;
    max-width: 100%;
    height: auto;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      justify-content: center;
      width: 98%;
      overflow-x: hidden;
    }
  }

  /* about new styling */
  a,
  a:hover {
    text-decoration: none;
  }
  
  .wrapper {
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    display: flex;
    /* background-image: linear-gradient(-20deg, #FAD6A6  0%, #F06966  100%);
    background-image: linear-gradient(-20deg, #FAD6A6  0%, #F06966  100%); */
    background: linear-gradient(90deg, #efefef, #b9deed, #efefef)
  } 
  
  .profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
  }
  .profile-card.active .profile-card__cnt {
    filter: blur(6px);
  }
  .profile-card.active .profile-card-message,
  .profile-card.active .profile-card__overlay {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
  }
  .profile-card.active .profile-card-form {
    transform: none;
    transition-delay: 0.1s;
  }
  .profile-card__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #69b7eb, 0px 0px 0px 7px rgba(179, 219, 211, 1);
  }
  @media screen and (max-width: 576px) {
    .profile-card__img {
      width: 120px;
      height: 120px;
    }
  }
  .profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
  }
  .profile-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #69b7eb;
    margin-bottom: 15px;
  }
  .profile-card__txt {
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;
  }
  .profile-card__txt strong {
    font-weight: 700;
  }
  .profile-card-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }
  .profile-card-loc__icon {
    display: inline-flex;
    font-size: 27px;
    padding-right: 15px;

  }
  .profile-card-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;
  }
  .profile-card-inf__item {
    padding: 10px 35px;
    min-width: 150px;
  }
  @media screen and (max-width: 768px) {
    .profile-card-inf__item {
      padding: 10px 20px;
      min-width: 120px;
    }
  }
  .profile-card-inf__title {
    font-weight: 700;
    font-size: 27px;
    color: #324e63;
  }
  .profile-card-inf__txt {
    font-weight: 500;
    margin-top: 7px;
  }
  
  /* Profile Card Button styles */
  .profile-card-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 576px) {
    .profile-card-ctr {
      flex-wrap: wrap;
    }
  }
  .profile-card__button {
    background: none;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all 0.3s;
    padding-bottom: 20px;
  }
  
  
  .profile-card__button:focus {
    outline: none !important;
  }
  @media screen and (min-width: 768px) {
    .profile-card__button:hover {
      transform: translateY(-5px);
    }
  }
  
  .profile-card__button.button--orange {
    background: linear-gradient(45deg, #69b7eb, #b3dbd3);
    box-shadow: 0px 4px 30px rgba(105, 183, 235, 1);
  }
  .profile-card__button.button--orange:hover {
    box-shadow: 0px 7px 30px rgba(179, 219, 211, 1);
  }

  .about-image{
    margin-bottom: 10px;
}

.about-body{
    text-align: center;
    padding: 20px;
    margin-top: -40px;
    padding-bottom: 10px;
}
